<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=b4wnbq4cd7"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id="map" style="width:100%;height:500px;"></div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="주소 입력">
    </form>
</div>
<div>
    {{coord_long}}
    {{coord_lat}}
    {{rd_address}}
    {{jb_address}}
</div>
{% load staticfiles %}
<script>
var HOME_PATH = window.HOME_PATH || '.';
var cityhall = new naver.maps.LatLng({{coord_long}}, {{coord_lat}}),
    map = new naver.maps.Map('map', {
        center: cityhall,
        zoom: 13
    }),
    marker = new naver.maps.Marker({
        map: map,
        position: cityhall
    });
var contentString = [
        '<div class="iw_inner">',
        '   <h4>도로명 주소: {{rd_address}}</h4>',
        '   <p>지번 주소: {{jb_address}}<br />',
        '   </p>',
        '</div>'
    ].join('');

var infowindow = new naver.maps.InfoWindow({
    content: contentString
});

naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});

infowindow.open(map, marker);




<!--다중 마커 start-->
    <!--var map = new naver.maps.Map(document.getElementById('map'), {-->
    <!--zoom: 13,-->
    <!--center: new naver.maps.LatLng({{coord_long}}, {{coord_lat}})-->
    <!--});-->

    <!--var latlngs = [-->
    <!--new naver.maps.LatLng({{coord_long}}, {{coord_lat}}),-->
    <!--];-->

    <!--var markerList = [];-->

    <!--for (var i=0, ii=latlngs.length; i<ii; i++) {-->
        <!--var icon = {-->
                <!--url: "{% static 'sp_pins_spot_v3.png' %}",-->
                <!--size: new naver.maps.Size(24, 37),-->
                <!--anchor: new naver.maps.Point(12, 37),-->
                <!--origin: new naver.maps.Point(i * 29, 0)-->
            <!--},-->
            <!--marker = new naver.maps.Marker({-->
                <!--position: latlngs[i],-->
                <!--map: map,-->
                <!--icon: icon-->
            <!--});-->

<!--marker.set('seq', i);-->

<!--markerList.push(marker);-->

<!--&lt;!&ndash;marker.addListener('mouseover', onMouseOver);&ndash;&gt;-->
<!--&lt;!&ndash;marker.addListener('mouseout', onMouseOut);&ndash;&gt;-->

<!--icon = null;-->
<!--marker = null;-->
<!--}-->

<!--function onMouseOver(e) {-->
    <!--var marker = e.overlay,-->
        <!--seq = marker.get('seq');-->

    <!--marker.setIcon({-->
        <!--url: "{% static 'sp_pins_spot_v3_over.png' %}",-->
        <!--size: new naver.maps.Size(24, 37),-->
        <!--anchor: new naver.maps.Point(12, 37),-->
        <!--origin: new naver.maps.Point(seq * 29, 50)-->
    <!--});-->
<!--}-->

<!--function onMouseOut(e) {-->
    <!--var marker = e.overlay,-->
        <!--seq = marker.get('seq');-->

    <!--marker.setIcon({-->
        <!--url: "{% static 'sp_pins_spot_v3.png' %}",-->
        <!--size: new naver.maps.Size(24, 37),-->
        <!--anchor: new naver.maps.Point(12, 37),-->
        <!--origin: new naver.maps.Point(seq * 29, 0)-->
    <!--});-->
<!--}-->

<!--다중 마커 end-->



</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>