{% extends 'base.html' %}

{% block title %}
    MAIN_PAGE
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <span class="col-8 col-md-8 col-lg-4">


            </span>

            <span class="col-8 col-md-8 col-lg-5">
                {% include 'room/search_common.html' %}
                {% include 'room/common_list.html' %}
            </span>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
